# Ignore the data folder
data/
# ignoring folder dataset
dataset/
# Ignore the experiments folder
Experiments/
# Ignore pycache
__pycache__/
# ignore all pychaches
**/__pycache__/
# ignore pycache of graph_encoding library
graph_encoding/__pycache__/
# ignoring data_local library
data_local/

